.navbar-admin {
  width: 100vw;               
  max-width: 100%;             
  box-sizing: border-box;      
  background-color: #1b2e4b;
  color: white;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.navbar-admin .logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding-bottom: 2px;
  border-bottom: 2px solid transparent;
  transition: border-color 0.2s;
}

.nav-links a.activo {
  border-bottom: 2px solid #1e90ff;
}

.admin-panel {
  background: #1e60d4;
  padding: 6px 14px;
  border-radius: 20px;
  font-weight: bold;
}
.nav-links .activo {
  font-weight: bold;
  color: #1e60d4;
  border-bottom: 2px solid #1e60d4;
}